<h1> {{imgPost.title}}</h1>
<h2 style="color:red;">{{error}}</h2>

<form method="post" action="/image-posts/delete/{{imgPost.slug}}">
{{#each imgPost}}
{{#each this.images}}
<p><input type="checkbox" name="toDelete" value="{{this._id}}">
{{this.caption}}</p>
<img src={{this.url}}>
<br>
{{/each}}
{{/each}}
<input type="submit" value="Delete Image(s)">
</form>

<form method="post" action="/image-posts/{{slug}}">
    New Url: <input type="text" name="updatedUrl" required>, New Caption: <input type="text" name="updatedCaption"><br>
    <input type="submit" value="Add Another">
</form>